.vscode
fonts
images\activites\1_xlarge
images\activites\2_large
images\hebergements\1_xlarge
images\hebergements\2_large
images\hebergements\3_medium
images\logo\chart-line-solid.svg
images\logo\child-solid.svg
images\logo\dog-solid.svg
images\logo\heart-solid.svg
images\logo\info-solid.svg
images\logo\map-marker-alt-solid.svg
images\logo\money-bill-wave-solid.svg
images\logo\search-solid.svg
images\logo\star-solid.svg