* {
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

#picture_card {
    width: 20%;
    height: 200px;
}

#picture_trending_card {
    width: 20%;
    height: 200px;
}

