* {
    box-sizing: border-box;
}

:root {
    --main-blue: #0065FC;
    --second-blue: #DEEBFF;
    --hover-blue: #C3D8F7;
    --main-grey: #F2F2F2;
    --second-grey: #D9D9D9;
}

body {
    font-family: Raleway, sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

/*Header start-zone*/
header {
    display: grid;
    align-items: center;
}

.header_logo_reservia {
    grid-area: logo;
    padding: 2rem;
}

.header_nav {
    display: flex;
    align-items: center;
    grid-area: nav;
}

.header_nav_link {
    border-bottom: 3px solid var(--main-grey);
    padding: 1rem;
    width: 50%;
    text-align: center;
}

.header_nav_link:hover {
    color: var(--main-blue);
    border-bottom-color: var(--main-blue);
}

.header_nav_link[data-active=true] {
    color: var(--main-blue);
    border-bottom: var(--main-blue) solid 3px;
}

.desktop {
    display: none;
}

.header_inscription {
    color: var(--main-blue);
    font-weight: bold;
    display: flex;
    align-items: center;
    grid-area: inscription;
    padding: 0 2rem;
}

.header {
    grid-template-columns: auto 1fr auto;
    /*allow to define colum's width & number*/
    grid-template-areas: "logo . inscription""nav nav nav";
    /*allow to define where which named areas are. . for blank*/
}

@media screen and (min-width: 501px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . nav inscription";
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .header_nav_link:hover {
        color: var(--main-blue);
        border-top: solid var(--main-blue);
    }

    .header_nav_link {
        border-bottom: none;
        padding: 3em;
    }

    .header_nav_link[data-active=true] {
        color: var(--main-blue);
        border-top: var(--main-blue) solid 3px;
        border-bottom: none;
        padding: 3rem;
    }
}
/* Header end-zone */


/*Search start-zone*/
.padding_mobile {
    padding: 0rem 1.2rem;
}

.search_title {
    font-size: 1.4rem;
    font-weight: 700;
}

.search_description {
    font-size: 1rem;
    font-weight: normal;
}

.search_form {
    margin: 2rem 0;
    max-width: 100%;
    overflow: auto;
    display: inline-flex;
}

.fa-map-marker-alt {
    padding: 1rem;
    background-color: var(--main-grey);
    border-radius: 1rem 0 0 1rem;
}

.search_form_input {
    padding: 0 1rem;
    border-left: none;
    border-right: none;
    border-top: var(--main-grey) solid 1px;
    border-bottom: var(--main-grey) solid 1px;
    width: 11.5rem;
}

.search_form_input::placeholder {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.search_form_button {
    padding: 0.5rem;
    background-color: var(--main-blue);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.fa-search {
    padding: 0.5rem;
    color: white;
}

@media screen and (min-width: 501px) {
    .search_form_button {
        padding: 0.9rem;
        background-color: var(--main-blue);
        border: none;
        border-radius: 0 1rem 1rem 0;
        color: white;
        font-weight: bold;
    }
}
/*Search end-zone*/

/*Filters start-zone*/
.filters {
    flex-wrap: wrap;
}

.filters_selection {
    display: flex;
    flex-wrap: wrap;
}

.filters_title {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
}

.filters_selection_type {
    border: var(--second-grey) solid 2px;
    border-radius: 2rem;
    border-left: none;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.filters_selection_icon {
    color: var(--main-blue);
    background-color: var(--second-blue);
    padding: 1rem;
    border-radius: 50%;
    margin: -0.08rem;
}

.fa-child {
    width: 3rem;
    text-align: center;
}

.filters_selection_name {
    font-size: 1rem;
    font-weight: bold;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
}

.filters_selection_type:hover {
    background-color: var(--hover-blue);
    cursor: pointer;
}

@media screen and (min-width: 501px) {
    .filters {
        display: flex;
    }

    .filters_title {
        margin-right: 2rem;
    }

    .filters_selection_type {
        margin-right: 2rem;
    }
}

.filters_info {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.fa-info {
    border: var(--main-grey) solid 2px;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    color: var(--main-blue);
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}
/*Filters end-zone*/

/*Trending start-zone*/
.hebergements_popular {
    background-color: var(--main-grey);
    padding: 2rem 0;
}

.trending_title {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem 1.2rem 2rem 1.2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.trending {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa-star[data-active=true] {
    color: var(--main-blue);
}

.fa-star[data-active=false] {
    color: var(--second-grey);
}

.trending_card {
    background-color: white;
    border-radius: 1.2rem;
    padding: 0.3rem;
    margin: 0.5rem 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--second-grey);
    max-width: 21rem;
    min-width: 20rem;
    max-height: 9rem;
    display: flex;
}

.trending_card_picture {
    border-radius: 1rem 0 0 1rem;
    max-width: 40%;
    object-fit: cover;
    object-position: center;
}

.trending_card_description {
    padding: 0rem 1rem;
    max-width: 60%;
}

.trending_card_name {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.trending_card_price {
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
}
/*Trending end-zone*/

/*Hebergements*/
.marseille_hotel {
    display: flex;
    flex-wrap: wrap;
}

.hebergement_title {
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 1rem;
}

.hebergement_card {
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem;
    margin: 0.5rem 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--second-grey);
    width: 21rem;
    display: flex;
    flex-direction: column;
}

.hebergement_card_picture_img {
    border-radius: 0.8rem 0.8rem 0 0;
    width: 100%;
    height: 7rem;
    object-fit: cover;
    object-position: center;
}

.hebergement_card_description {
    width: 100%;
    height: 35%;
    padding: 0rem 0.5rem;
}

.hebergement_card_name {
    font-weight: bold;
    font-size: 1rem;
    margin: 0rem auto 0.3rem auto;
    padding-top: 0.6rem;
}

.hebergement_card_price {
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0rem auto 0.3rem auto;
}

.hotel_view_more {
    padding: 2rem 0rem;
}

.hotel_view_more_link {
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (min-width: 501px) {
    .appartment {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /*Desktop Hebergements*/
    .hebergements {
        background-color: var(--main-grey);
        border-radius: 1rem;
        margin: 1.2rem;
        padding: 0.5rem 0rem 0.5rem 2.5rem;
        min-width: 23rem;
    }

    .hebergement_card {
        margin:2rem;
        width: 15rem;
    }

    /*Desktop Most Popular*/
    .hebergements_popular {
        border-radius: 1rem;
        margin: 1rem;
        padding: 2rem 1.2rem;
    }

    .trending_title {
        padding-top: 1rem;
    }

    .trending {
        align-items: center;
    }

    .trending_card {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 685px) {
    .hebergement_card {
        width: 21rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 830px) {
    .appartment {
        display: flex;
        flex-direction: column;
    }

    .marseille_hotel {
        justify-content: space-evenly;
    }
}

/*Activity zone*/

.activity_title {
    font-weight: bold;
    font-size: 1.4rem;
}

.activity_card {
    background-color: white;
    border-radius: 1rem;
    margin: 1.5rem 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--second-grey);
    width: 21rem;
    display: flex;
    flex-direction: column;
}

.activity_card_picture_img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 8rem;
    object-fit: cover;
    object-position: center;
}

.activity_card_description {
    width: 100%;
    padding: 0rem 0.5rem;
}

.activity_card_name {
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (min-width: 400px) and (max-width: 705px) {
    .marseille_activity {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 705px) and (max-width: 1040px) {
    .marseille_activity {
        display: grid;
        grid-template-areas:
            "vieuxport calanques"
            "pomegues notredame"
            "frioul longchamp";
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1400px) {
    .marseille_activity {
        display: grid;
        grid-template-areas:
            "vieuxport calanques pomegues"
            "notredame frioul longchamp";
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1400px) {
    .marseille_activity {
        display: grid;
        grid-template-areas:
            "vieuxport pomegues calanques notredame"
            "vieuxport frioul calanques longchamp";
    }

    .activity_card_large {
        height: 24rem;
    }

    .activity_card_one {
        grid-area: vieuxport;
    }

    .activity_card_two {
        grid-area: pomegues;
        height: 7rem;
    }

    .activity_card_three {
        grid-area: frioul;
        height: 7rem;
        padding-top: 1rem;
    }

    .activity_card_four {
        grid-area: calanques;
    }

    .activity_card_five {
        grid-area: notredame;
        height: 7rem;
    }

    .activity_card_six {
        grid-area: longchamp;
        height: 7rem;
        padding-top: 1rem;
    }
}

/*Footer Zone*/
.footer {
    background-color: var(--main-grey);
    margin-top: 3rem;
    padding: 2rem 2rem;
}

.footer_a_propos,
.footer_nos_hebergements {
    padding-bottom: 0.5rem;
}

.footer_a_propos_title,
.footer_nos_hebergements_title,
.footer_assistance_title {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer_a_propos_link,
.footer_nos_hebergements_link,
.footer_assistance_link {
    font-weight: normal;
    font-size: 1rem;
}

@media (min-width: 480px) and (max-width:1000px) {
    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 1000px) and (max-width:1300px) {
    .footer {
        display: flex;
    }

    .footer_a_propos_link,
    .footer_nos_hebergements_link,
    .footer_assistance_link {
        padding-right: 9rem;
    }
}

@media (min-width: 1301px) {
    .footer {
        display: flex;
    }

    .footer_a_propos_link,
    .footer_nos_hebergements_link,
    .footer_assistance_link {
        padding-right: 15rem;
    }
}